<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BlueMirrorIndexer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="PeterDakanIndexer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <BlueMirrorIndexer.Properties.Settings>
            <setting name="LastDrive" serializeAs="String">
                <value>D:\</value>
            </setting>
            <setting name="LastOpenedFile" serializeAs="String">
                <value />
            </setting>
            <setting name="ScanNewMedia" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoEject" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ReadFileInfo" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ComputeCrc" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutosaveAfterReading" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BrowseInsideCompressed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Updated" serializeAs="String">
                <value>False</value>
            </setting>
        </BlueMirrorIndexer.Properties.Settings>
        <PeterDakanIndexer.Properties.Settings>
            <setting name="LastDrive" serializeAs="String">
                <value>D:\</value>
            </setting>
            <setting name="LastOpenedFile" serializeAs="String">
                <value />
            </setting>
            <setting name="ScanNewMedia" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoEject" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ReadFileInfo" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ComputeCrc" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutosaveAfterReading" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BrowseInsideCompressed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CustomColorScheme" serializeAs="String">
                <value />
            </setting>
            <setting name="UseCustomColorScheme" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseStyleMessageBoxes" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RibbonLayout" serializeAs="String">
                <value />
            </setting>
        </PeterDakanIndexer.Properties.Settings>
    </userSettings>
</configuration>