################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BlueMirror.Importer/obj
/BlueMirrorIndexer/bin
/Backup
/Backup1
/BlueMirrorIndexer/obj/Debug
/BlueMirrorIndexer.Test/obj/Debug
*.user
/BlueMirror.Commons/bin/Debug
/BlueMirror.Commons/obj/Debug
