################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.user
**/obj
**/bin
setup
!setup/README.md
.vs
*.pfx