<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Octopus.CDIndex.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Octopus.CDIndex.Properties.Settings>
            <setting name="LastDrive" serializeAs="String">
                <value>D:\</value>
            </setting>
            <setting name="DatabaseLocation" serializeAs="String">
                <value />
            </setting>
        </Octopus.CDIndex.Properties.Settings>
    </userSettings>
</configuration>